.container {
    padding: 1rem;
    background-color: white;
    border: none; /* Ensure no border */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black; /* Ensure the font inside the box is black */
    margin: 20px auto; /* Add top margin for spacing */
    max-width: 1200px; /* Set a maximum width */
}

.header {
    display: flex;
    justify-content: flex-start; /* Align items to the start */
    align-items: center;
    margin-bottom: 1rem;
}

.advertiserTable {
    width: 100%;
    border-collapse: collapse;
}

.advertiserHeaderRow, .advertiserRow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0.5rem 0;
    border-bottom: 1px solid #ddd;
    color: black;
}

.advertiserHeader {
    font-weight: bold;
    text-align: left;
    padding: 0.5rem;
    color: black;
}

.advertiserRow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    padding: 0.5rem 0;
    color: black;
}

.advertiserName, .price, .available, .actionButton {
    padding: 0.5rem;
}

.buyButton, .sellButton {
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    border: none; /* Remove border */
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    outline: none; /* Remove outline */
}

.buyButton {
    background-color: green;
}

.sellButton {
    background-color: red;
}

.currencySelect, .amountInput, .paymentMethodSelect, .refreshButton, .filterButton {
    padding: 0.5rem;
    margin-right: 0.5rem;
}

.actionButton {
    padding: 0.5rem 1rem;
    border: none; /* Remove border */
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    outline: none; /* Remove outline */
}

.buyEthButton {
    background-color: green;
}

.sellCnxButton {
    background-color: red;
}

.ineligible {
    background-color: gray;
    cursor: not-allowed;
}

.inactive {
    background-color: gray;
    cursor: pointer;
}

/* Styles for the buttons */
/*.header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}*/

.buyButton, .sellButton {
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 10px;
    border: 1px solid transparent;
    cursor: pointer;
    font-size: 16px;
}

.buyButton.inactive, .sellButton.inactive {
    background-color: grey;
}

.sellFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px; /* Adjust as necessary */
}

.sellForm {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 800px; /* Adjust width as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.inputGroup {
    /*display: flex;*/
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}


.sellTitle {
    font-size: 40px;
    margin-bottom: 20px;
}

.sellText {
    font-size: 20px;
    margin-bottom: 15px;
}

.inputField {
    width: 48%; /* Adjust width to fit two fields side by side */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.formActions {
    /*display: flex;*/
    justify-content: space-between;
    width: 100%;
}

.listButton, .cancelButton {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f0f0f0;
    font-size: 16px;
    margin-right: 30px;
    margin-left: 30px;
}

.listButton:hover, .cancelButton:hover {
    background-color: #e0e0e0;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0 auto;
    background-color:black;
    border-radius: 8px;
    max-width: 1200px;
}

.buyContainer,
.sellContainer {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 1px solid white;
    color: black;
}

.sectionTitle {
    font-size: 24px;
    color: black;
    margin-bottom: 20px;
}
