.container {
    padding: 1rem;
    background-color: white;
    border: none; /* Ensure no border */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black; /* Ensure the font inside the box is black */
    margin: 20px auto; /* Add top margin for spacing */
    max-width: 1200px; /* Set a maximum width */
}

.header {
    display: flex;
    justify-content: flex-start; /* Align items to the start */
    align-items: center;
    margin-bottom: 1rem;
}

.advertiserTable {
    width: 100%;
    border-collapse: collapse;
}

.advertiserHeaderRow, .advertiserRow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0.5rem 0;
    border-bottom: 1px solid #ddd;
}

.advertiserHeader {
    font-weight: bold;
    text-align: left;
    padding: 0.5rem;
}

.advertiserRow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    padding: 0.5rem 0;
}

.advertiserName, .price, .available, .actionButton {
    padding: 0.5rem;
}

.buyButton, .sellButton {
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    border: none; /* Remove border */
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    outline: none; /* Remove outline */
}

.buyButton {
    background-color: green;
}

.sellButton {
    background-color: red;
}

.currencySelect, .amountInput, .paymentMethodSelect, .refreshButton, .filterButton {
    padding: 0.5rem;
    margin-right: 0.5rem;
}

.actionButton {
    padding: 0.5rem 1rem;
    border: none; /* Remove border */
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    outline: none; /* Remove outline */
}

.buyEthButton {
    background-color: green;
}

.sellCnxButton {
    background-color: red;
}

.ineligible {
    background-color: gray;
    cursor: not-allowed;
}

.inactive {
    background-color: gray;
    cursor: pointer;
}
