.header {
  background-color: #333;
  padding: 1rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-right: 3rem; /* Adjust margin as needed */
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center; /* Ensure alignment with the logo */
}

.navItem {
  margin-right: 2rem;
  position: relative;
}

.navItem > a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center; /* Align arrow with text */
}

.navItem:hover .subNavList {
  display: block;
}

.hasSubNav > a:after {
  content: '▼'; /* Down arrow */
  margin-left: 0.5rem; /* Space between text and arrow */
  font-size: 0.8rem; /* Adjust size as needed */
}

.hasSubNav:hover > a:after {
  content: '▲'; /* Up arrow */
}

.subNavList {
  list-style: none;
  display: none;
  position: absolute;
  top: 110%;
  left: 0;
  background: #444; /* Change background color as needed */
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
  padding: 0rem; /* Add padding to create a box-like appearance */
  border-radius: 8px; /* Add border radius to make it more box-like */
  z-index: 10; /* Ensure the dropdown appears above other elements */
  width: 130px; /* Adjust width as needed */
}

.subNavItem {
  padding: 0rem 0rem;
  width: 100%; /* Ensure subNavItem fills the width of subNavList */
}

.subNavItem a {
  color: #fff;
  text-decoration: none;
  display: block; /* Ensure the link takes up the full width of the item */
  width: 100%; /* Ensure link fills the width of subNavItem */
  padding: 0.5rem 1rem; /* Add padding for better spacing */
  box-sizing: border-box; /* Ensure padding does not overflow */
}

.subNavItem a:hover {
  background: #555; /* Change background color on hover as needed */
  border-radius: 8px; /* Add border radius to the hover effect */
}

.connectWrapper {
  margin-left: auto;
}
